{% extends "layout.html" %}

{% block title %}  Inventory Summary  {% endblock %}


{% block content %}


    <main class="app-content">
      <div class="app-title">
        <div>
          <h1><i class="fa fa-dashboard"></i>Dashboard</h1>
          <p>An Admin Panel For Inventory Managment System</p>
        </div>
        <ul class="app-breadcrumb breadcrumb">
          <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
          <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
        </ul>
      </div>
      <div class="row">
        <div class="col-md-6 col-lg-3">
          <div class="widget-small primary coloured-icon"><i class="icon fa fa-users fa-3x"></i>
            <div class="info">
              <h4>Users</h4>
              <p><b>{{ users_count }}</b></p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="widget-small info coloured-icon"><i class="icon fa fa-thumbs-o-up fa-3x"></i>
            <div class="info">
              <h4>Branches</h4>
              <p><b>{{ branches_count }}</b></p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="widget-small warning coloured-icon"><i class="icon fa fa-files-o fa-3x"></i>
            <div class="info">
              <h4>Tags</h4>
              <p><b>{{ tags_count }}</b></p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="widget-small danger coloured-icon"><i class="icon fa fa-star fa-3x"></i>
            <div class="info">
              <h4>Items</h4>
              <p><b>{{ items_count }}</b></p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-lg-6">
          <div class="widget-small primary coloured-icon"><i class="icon fa fa-users fa-3x"></i>
            <div class="info">
              <h4>Highest count item</h4>
              <p><b>{{ max_item_count.name }}</b></p>
              <p><b>{{ max_item_count.total_count__max }}</b></p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-6">
          <div class="widget-small info coloured-icon"><i class="icon fa fa-thumbs-o-up fa-3x"></i>
            <div class="info">
              <h4>Highest price item</h4>
              <p><b>{{ max_item_price.name }}</b></p>
              <p><b>{{ max_item_price.price__max }}</b></p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="tile">
            <h4 class="tile-title">Monthly Sales (Dummy Data)</h4>
            <div class="embed-responsive embed-responsive-16by9">
              <canvas class="embed-responsive-item" id="lineChartDemo"></canvas>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="tile">
            <h4 class="tile-title">Inventory Occupation (Dummy Data)</h4>
            <div class="embed-responsive embed-responsive-16by9">
              <canvas class="embed-responsive-item" id="pieChartDemo"></canvas>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="tile">
            <h3 class="tile-title">Features</h3>
            <ul>
              <li>Built with Bootstrap 4</li>
              <li>Fully responsive and modular code</li>
              <li>Chart.js integration to display responsive charts</li>
              <li>Widgets to effectively display status</li>
              <li>Data tables with sort, search and paginate functionality</li>
              <li>Custom form elements like toggle buttons, auto-complete, tags and date-picker</li>
              <li>A inbuilt toast library for providing meaningful response messages to user's actions</li>
            </ul>
            </div>
        </div>
        <div class="col-md-6">
          <div class="tile">
            <h3 class="tile-title">Generate Dummy Data for Testing</h3>
            <ul>
              <li><p>Generate 1000 users    <a class="btn btn-primary" href="{% url 'user-generator'  %}">Generate Users</a></p></li>
              <li><p>Generate 10000 items   <a class="btn btn-primary" href="{% url 'item-generator'  %}">Generate Items</a></p></li>
              <li>You can see the numbers of users and items increase if you refresh this page</li>
              <li>Thanks for using Dummy Data Generator</li>
            </ul>
            </div>
        </div>
      </div>
    </main>



{% endblock %}